*{
    font-family: "Nunito Sans", sans-serif;
}

/*Header*/
header{
    background-color: #604CC3;
}

header span{
    color:#F075AA; 
    font-weight: 600; 
}

.nav-item a{
    color:#FFF6E9; 
}

/*Link visitado*/
.nav-item a:visited{
    color:#80C4E9; 
}

.nav-item a:hover{
    color: #80C4E9; 
}

/*Botón Inicio Header*/
#nav-button{
    background-color: #80C4E9;
}

#rounded{
    border-radius: 100px;
}


#sobre-mi #app{
    color:#604CC3;
}
/*
.sobre-mi{
    background-image:url("/bg2.jpg"); 
    background-repeat: no-repeat;
    background-position: center;
}
*/

/*Ícono Desarrollo Web*/
.icon-square .bi{
    color:#F075AA;
    width: auto;
    /*border-radius: 20px;*/
}


.img-proyecto1{
    background-image: url('assets/pinterest3.png');
    background-repeat: no-repeat; 
    background-size: 700px;
    background-blend-mode: multiply;
}


.img-proyecto1 h3{
    color:#80C4E9; 
}

.img-proyecto2{
    background-image: url('assets/Babymetal.png');
    background-repeat: no-repeat; 
    background-size: 800px;
    background-blend-mode: multiply;
}

.img-proyecto3{
    background-image: url('assets/RPG.jpg');
    background-repeat: no-repeat; 
    background-position: center;
    background-size: 550px;
    background-blend-mode: multiply;
}

.img-proyecto3 h3{
    color:#80C4E9; 
}

#habilidades{
    background-color: #EEEEEE; 
}

.icon-square .bi{
    background-color: #80C4E9;
    color: #FFF6E9;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    font-size: 1.5em;
    text-align: center;
    padding: 4px;
}

/*Imagenes proyectos*/
.me-auto #pagina-web{
    color:white; 
}

/*Carrousel*/
#testimonios .container{
  display: flex; 
}

/*Footer*/
footer .icon-footer i{
    color: #604CC3; 
}

footer p{
    color: #604CC3;
}
footer p a{
    text-decoration:none;
    color:#F075AA;
}

/*Typewritter text*/
#app{
    color:#134B70;
}



